body{
  background-color: #fdfcdc;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #6d6875;
}

.container{
  background-color: #fdfcdc;
  width: 65vh;
  height: 65vh;
  display: grid;
  gap: 0.1rem;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
}

.container div{
  background-color: #fed9b7;
  border-radius: 0.2rem;
}

/* .container div:hover{
  background-color: #b5838d;
} */

